<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">@ Biswas<sup>'s</sup></div>
    </a>

    <!-- Divider -->

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="dashboard">
            <i class="fa fa-tachometer"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="service">
            <i class="fa fa-hospital-o "></i>
            <span>Services</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admindepartment">
            <i class="fa fa-plus-circle fa-2x "></i>
            <span>Department</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admindoctor">
            <i class="fa fa-user-md"></i>
            <span>Doctor</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adminblog">
            <i class="fa fa-rss"></i>
            <span>Blog</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adminappointment">
            <i class="fa fa-address-card"></i>
            <span>Appointment</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adminContact">
            <i class="fa fa-address-card"></i>
            <span>Contact Us</span></a>
    </li>
    

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <a class="nav-link" href="/logout">
            <i class="fa fa-3x fa-sign-out"></i>
        </a>
    </div>
</ul>
<!-- End of Sidebar -->

